<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="{{ site.app_description }}">
<meta name="twitter:card" content="app" />
<meta name="twitter:app:name:iphone" content="Libraried: UI Components" />
<meta name="twitter:app:id:iphone" content="1642862540" />
<!-- To display in imessage -->
<meta property="og:site_name" content="Libraried.app"/>
<meta property="og:title" content="Libraried: UI Components" />
<meta property="og:description" content="SwiftUI Components in Action" />
<meta property="og:image" content="/assets/LibrariedHeaderImage.png" />
<meta property="og:image:alt" content="Libraried App Icon" />
<link rel="apple-touch-icon" href="/assets/LibrariedAppleToucIcon.png">

		<link rel="shortcut icon" href="/assets/LibrariedAppleToucIcon.png">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
</head>